@import url("https://fonts.googleapis.com/css?family=Luckiest+Guy&display=swap");

audio{
    display: none;
}

#themaincontainer, #themaincontainertutorial{
    padding-top: 4rem;
}

/* #themaincontainer button, #themaincontainertutorial button{
    width: 100%;
    min-height: 2.1rem;
    margin-top: 0.75em;
    border: none;
    border-radius: 8px;
    font: 0.9rem 'Baloo 2', 'sans-serif';
    color: white;
    transition: 0.25s;
    word-wrap: break-word;
} */

/* #player1buttons button, #player2buttons button, .chat button{
    font: "Poppins", sans-serif !important;
    font-size: unset !important;
    min-height: unset !important;
    width: unset !important;
    color: unset !important;
} */

.throw-card-button{
    background: #2D9CDB;
}

.free-throw-button{
    background: #219653;
}

.end-turn-button{
    background: #EB5757;
}

.activate-special-button{
    background: #9B51E0;
}

.monkey-button{
    background: #F2C94C;
    color: #333 !important;
}

.throw-card-button:hover{
    background: #21658b;
}

.free-throw-button:hover{
    background: #1b693d;
}

.end-turn-button:hover{
    background: #b14545;
}

.activate-special-button:hover{
    background: #6a3c96;
}

.monkey-button:hover{
    background: #b6983f;
    color: #333 !important;
}

#special :disabled, #specialtutorial :disabled{
    display: none;
}

.image-player1{
    animation-name: fadeInDown;
    animation-duration: 1s;
}

.burned-image{
    animation-name: burnImage !important;
    animation-duration: 1s;
    animation-fill-mode: forwards;
    border-radius: 0.5rem;
}

.opacityformonkey{
    animation-name: burnImage;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.img-border{
    border: 3px solid rgb(18, 189, 46);
    border-radius: 10%;
}

.finish-swap-cards{
    animation-name: finishSwapCards;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.image-player2{
    animation-name: fadeInUp;
    animation-duration: 1s;
}

.image-player2-select{
    animation-name: player2SelectSeven;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.image-player1-select{
    animation-name: player1SelectSeven;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.flip-image {
    transform: rotateX(180deg) rotateY(180deg);
    transition: all 1s;
    transform-style: preserve-3d;
}

.unflip-image{
    transform: rotateX(0deg) rotateY(0deg);
    transition: all 1s;
    transform-style: preserve-3d;
}

.addAnimation{
    animation-name: burnImage;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.removeAnimation{
    animation-name: restoreImage;
    animation-duration: 1s;
    animation-fill-mode: forwards;
}

.pick-card-player1{
    animation-name: fadeInUp;
    animation-duration: 1s;
}

.pick-card-player2{
    animation-name: fadeInDown;
    animation-duration: 1s;
}

.remove-animation {
    animation: none !important;
}

.disableformonkey{
    display: none !important;
}

#monkeydiv, #monkeydivtutorial {
    color: yellow !important;
    text-shadow: 0 0.1em 20px rgba(0, 0, 0, 1), 0.05em -0.03em 0 rgba(0, 0, 0, 1),
    0.05em 0.005em 0 rgba(0, 0, 0, 1), 0em 0.08em 0 rgba(0, 0, 0, 1),
    0.05em 0.08em 0 rgba(0, 0, 0, 1), 0px -0.03em 0 rgba(0, 0, 0, 1),
    -0.03em -0.03em 0 rgba(0, 0, 0, 1), -0.03em 0.08em 0 rgba(0, 0, 0, 1), -0.03em 0 0 rgba(0, 0, 0, 1);
    font-family: "Luckiest Guy", cursive;
}

#monkeydivtutorial, #monkeydiv{
    opacity: 1;
    position: absolute;
    top: 60%;
    left: 50%;
    width: 80%;
    transform: translate(-50%, -50%);
}

#themaincontainer span, #themaincontainertutorial span {
    transform: scale(0.9);
    display: inline-block;
}

#themaincontainer span:first-child, #themaincontainertutorial span:first-child {
    animation: bop 3s cubic-bezier(0.175, 0.885, 0.32, 1.275)  infinite;
}

#themaincontainer span:last-child, #themaincontainertutorial span:last-child {
    animation: bopB 3s 0.2s cubic-bezier(0.175, 0.885, 0.32, 1.275) infinite;
}

#player2pick, #player1pick{
    border: 2px solid #0fc473;
    border-radius: 12px;
}

#player2pick{
    margin-bottom: 1.5rem;
}

#player1pick{
    margin-top: 1.5rem;
}

/* ---------------
    Media Queries
--------------- */

@media only screen and (min-width: 768px){
    .vertical-line {
        margin-left: 0.425rem;
        border-left: solid #0fc473;
    }
    
    #themaincontainer, #themaincontainertutorial{
        height: 100vh;
    }
}

@media only screen and (min-width: 1400px){

    #monkeydiv, #monkeydivtutorial{
        font-size: 18em;
    }

    #themaincontainer button, #themaincontainertutorial button{
        font-size: 20px;
    }
    
}

@media only screen and (min-width: 1201px) and (max-width: 1399px) {
    #monkeydiv, #monkeydivtutorial{
        font-size: 15em;
    }
}

@media only screen and (min-width: 992px) and (max-width: 1200px) {
    #monkeydiv, #monkeydivtutorial{
        font-size: 13em;
    }

    #themaincontainer button, #themaincontainertutorial button{
        font-size: 0.715rem;
    }
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
    #monkeydiv, #monkeydivtutorial{
        font-size: 10em;
    }

    #themaincontainer button, #themaincontainertutorial button{
        font-size: 0.715rem;
    }
}

@media only screen and (min-width: 0px) and (max-width: 767px) {    
    #monkeydiv, #monkeydivtutorial{
        font-size: 5em;
    }
}

/* ---------------
    Animations
--------------- */

@keyframes bop {
    0% {
        transform: scale(0.9);
    }
    99% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        transform:
        translate3d(15rem,-8rem,0)
        rotate(-40deg)
        skewX(70deg)
        scale(1.5);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
    100% {
        transform: scale(1);
    }
}

@keyframes bopB {
    0% {
        transform: scale(0.9);
    }
    99% {
        text-shadow: 0 0 40px whitesmoke;
    }
    to {
        transform:
        translate3d(15rem,-8rem,0)
        rotate(-40deg)
        skewX(70deg)
        scale(1.5);
        text-shadow: 0 0 20px whitesmoke;
        opacity: 0;
    }
    100% {
        transform: scale(1) rotateZ(-3deg);
    }
}

@keyframes fadeInUp {
    from {
        transform: translate3d(0,20vh,0);
        opacity: 0
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes fadeInDown {
    from {
        transform: translate3d(0,-20vh,0);
        opacity: 0
    }
    to {
        transform: translate3d(0,0,0);
        opacity: 1
    }
}

@keyframes player1SelectSeven {
    from {
        transform: translate3d(0,0,0);
        opacity: 0
    }
    to {
        transform: translate3d(0,8vh,0);
        opacity: 1
    }
}

@keyframes player2SelectSeven {
    from {
        transform: translate3d(0,0,0);
        opacity: 0
    }
    to {
        transform: translate3d(0,-8vh,0);
        opacity: 1
    }
}

@keyframes burnImage {
    from {
        opacity: 1
    }
    to {
        opacity: 0.3
    }
}

@keyframes restoreImage {
    from {
        opacity: 0.1
    }
    to {
        opacity: 1
    }
}

@keyframes finishSwapCards{
    from{
        transform: scale(0)
    }
    to{
        transform: scale(1)
    }
}